

body {
	font-family: Arial, Helvetica, san-serif;
	font-size: 1.0em;
	line-height: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

@media screen and (min-width: 800px) {
	body {
		font-size: 1.2em;
		line-height: 120%;
	}
}

.banner {
	background-color: #f0f0f0;
	padding: 15px;
}

h1 {
    font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: #0000aa;
	margin-right: 20px;
}
